<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div align="center">
            <label>Usuário:</label>
            <input type="text" name="username" placeholder="digite o nome do usuário">
            <label>Password:</label>
            <input type="password" name="password" placeholder="digite a senha">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
        <div align="center">
            <br/>
            <strong>Erro: </strong>{{ message }}
        </div>
    {% endfor %}
</body>
</html>